# Ignore environment files
Backend/variables.env
Backend/requirements.txt


# Python
Backend/__pycache__/
Backend/dubug/
Backend/processed/
Backend/uploads/

# Node
frontend/node_modules/
frontend/build/
frontend/dist/

# Logs and models
Backend/*.log
